.card-image {
  max-width: 100px;
  max-height: 100px;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1px solid rgb(175, 171, 171);
  border-radius: 15px;
  padding: 10px;
}

.product-card span {
  text-align: center;
  min-height: 38px;
  display: flex;
  align-items: center;
}
